<h2 mat-dialog-title>Project Information</h2>
      <mat-grid-list cols="2" rowHeight="250px">

        <mat-grid-tile colspan="1">
          <div class="container">
          <h3 style="margin-top:0px;">Project Title</h3>
          <mat-form-field appearance="fill">
              <input matInput>
          </mat-form-field>
          <h3 style="margin-top:0px">Project Leader</h3>
          <mat-form-field appearance="fill">
              <input matInput>
          </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile  colspan="1">    
          <div class="container">
            <h3 style="margin-top:0px;">Project Budget</h3>
            <mat-form-field appearance="fill">
                <input matInput>
            </mat-form-field>
            <h3 style="margin-top:0px;">Project Duration</h3>
            <mat-form-field appearance="fill">
                <input matInput>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
        <form class="container" [formGroup]="productForm">   
               <h3>Project members</h3>
               <div formArrayName="collaborator">
                 <div *ngFor="let item of collaborator.controls; let pointIndex=index" [formGroupName]="pointIndex">
     
                 <mat-form-field appearance="fill">
                   <input matInput formControlName="point"/>

                 </mat-form-field>
                 <button style="margin-left: 10px;" type="button" (click)="deleteCollaborator(pointIndex)">Delete</button>
                 </div>
                 <button style="margin-left: 210px;" type="button" (click)="addCollaborator()">Add</button>
               </div>
        </form>
        <mat-dialog-actions >
            <button class="button" mat-button mat-dialog-close>Send</button>
        </mat-dialog-actions>
    


