    <h2 mat-dialog-title>Project Information</h2>
    <h3 style="margin-top:30px;">Project Title</h3>
    <!-- <mat-form-field appearance="fill">
            <input matInput>

        </mat-form-field>

        <form [formGroup]="productForm">   
               <h3 style="margin-top:30px;">Invite members</h3>
               <div formArrayName="collaborator">
                 <div *ngFor="let item of collaborator.controls; let pointIndex=index" [formGroupName]="pointIndex">
     
                 <mat-form-field appearance="fill">
                   <input matInput formControlName="point"/>

                 </mat-form-field>
                 <button style="margin-left: 10px;" type="button" (click)="deleteCollaborator(pointIndex)">Delete</button>
                 </div>
                 <button style="margin-left: 210px;" type="button" (click)="addCollaborator()">Add</button>
               </div>
        </form>
        <mat-dialog-actions >
            <button class="button" mat-button mat-dialog-close>Send</button>
        </mat-dialog-actions> -->
