
.card-margin{
    margin: 2% !important;
}

.row-margin{
    margin-left: 0.5% !important;
    margin-right: 0.5% !important;
}

.card-content-body{
    width: 94% !important;
    margin-left: 3% !important;
    margin-right:3% !important;
    margin-bottom: 3% !important;
}

