.mat-lbl{
    font-family: 'OpenSans-Bold' !important;
    font-weight: 450 !important;
    font-size: 1.7vh;

}
.card-header a{
    font-family: 'OpenSans-bold' !important;
    font-size: 2.5vh !important;
}
.small-text{
    font-size: 0.8rem  !important;
}

.large-text{
    font-size: 2vh !important;
}

.large-form-field{
    height: 13px !important;
    text-align: left !important;
    margin-bottom: 73px !important;
}

.calendar-field{
    height: -15px !important;
    width: 100% !important;
    top: -16px !important;
    position: relative !important;
    text-align: center !important;
}