.top-spacing--10{
    margin-top:-10% !important;
}
.top-spacing--5{
    margin-top: -5% !important;
}
.top-spacing--2{
    margin-top: -2% !important;
}
.top-spacing-2{
    margin-top: 1% !important;
}
.top-spacing-3-5{
    margin-top: 3% !important;
}
.top-spacing-3{
    margin-top: 3.3vh !important;
}
.top-spacing-5{
    margin-top: 5% !important;
}
.top-spacing-10{
    margin-top: 10% !important;
}
.top-spacing--10{
    margin-top: -10% !important;
}
.top-spacing--15{
    margin-top: -15% !important;
}
.right-spacing-5{
    margin-right:5% !important;
}
.right-spacing-4{
    margin-right:4% !important;
}
.right-spacing-15{
    margin-right:15% !important;
}
.left-spacing-5{
    margin-left: 5% !important;
}
.left-spacing-2{
    margin-left: 2% !important;
}
.left-spacing-3{
    margin-left:3% !important;
}
.left-spacing-15{
    margin-left: 15% !important;
}
.bottom-spacing--10{
    margin-bottom: -10% !important;
}
.bottom-spacing-2{
    margin-bottom: 2% !important;
}
.bottom-spacing-1{
    margin-bottom: 1% !important;
}

.align-center{
    text-align: center !important;
}