a {
  text-decoration: none;
  color: inherit;
}


/* Layout */
.s-layout {

  display: flex;






  display: flex;

  height: 88vh;
  background-image: url('/assets/images/calendarbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;




}

.s-layout__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 140vh;
  height: 85%;
  overflow: hidden;
  margin-bottom: 20%;
  position: fixed;
}


/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
    margin-left: 4em;
  }


  .s-sidebar__nav {
    width: 4em;
    left: 0;
  }

  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:hover+.s-sidebar__nav,
  .s-sidebar__trigger:focus+.s-sidebar__nav {
    width: 15em;
  }
}

@media (min-width: 68em) {
  .s-layout__content {
    margin-left: 15em;
  }


}
