
<div class="wrapper">
    <div class="page-header">
        <div class="justify-content-center">
        <div class="loginbox">
            <img src="/assets/images/picture.jpg" class="picture">
            <h1> Login Here </h1>
                <form>
                    <p>Username</p>
                    <input type="text" name="" placeholder="Enter Username">
                    <p>Password</p>
                    <input type="password" name="" placeholder="Enter Password">
                    <input type="submit" name="" value="Login" (click)="goToDashboard">
                    <a href="../forgot-password/forgotPw">forgot password?</a><br>
                    <a (click)="goToRegistration()">Create account here</a>
                </form>
        </div>
        </div>
    </div>

</div>



