<div class="wrapper">
  <div class="page-header">
    <div class="justify-content-center">
      <div class="loginbox">
        <img src="/assets/images/picture.jpg" class="picture">
        <h1> Login Here </h1>
        <form>
          <p>Email</p>
          <input type="text" name="email" [(ngModel)]="account.email" placeholder="Enter Email">
          <p>Password</p>
          <input type="password" name="password" [(ngModel)]="account.password" placeholder="Enter Password">
          <input type="submit" name="" value="Login" (click)="login()">
          <a (click)="goToForgotPassword()">Forgot password?</a><br>
          <a (click)="goToRegistration()">Create account here</a>
        </form>
      </div>
    </div>
  </div>

</div>
