
<div class="border">
    <div class="passwordbox">
        <img src="/assets/images/picture.jpg" class="picture">
        <h1> Forgot Password </h1>
            <form>
                <p>Email</p>
                <input type="text" name="" placeholder="Enter Email">
                <p>Username</p>
                <input type="text" name="" placeholder="Enter Username">
                <input type="submit" name="" value="Submit">
                <a href="../login/login">Already have an account?</a><br>
                <a href="resetPw.html">Reset Password</a><br>
            </form>
    </div>

</div>

