<html>
    <head>
        <title> Forgot password </title>
        <link rel="stylesheet" type="text/css" href="../login/login.component.css">
        <body>
            <div class="loginbox">
                <img src="../login/picture.jpg" class="picture">
                <h1> Forgot Password </h1>
                <form>
                    <p>Email</p>
                    <input type="text" name="" placeholder="Enter Email">
                    <p>Username</p>
                    <input type="username" name="" placeholder="Enter username">
                    <input type="submit" name="" value="Forgot Password" onclick="window.location.href='resetPw.html';">
                    <a href="../login/login.component.html">Already have an account?</a><br>
                    <a href="resetPw.html">Reset Password</a><br>
                </form>
            </div>
        </body>
    </head>
</html>