<html>
    <head>
        <title> Register </title>
        <link rel="stylesheet" type="text/css" href="registration.component.css">
        <body>
            <div class="registerbox">
                <img src="../login/picture.jpg" class="picture">
                <h1> Register Here </h1>
                <form>
                    <p>First name</p>
                    <input type="text" name="" placeholder="First name">
                    <p>Last name</p>
                    <input type="text" name="" placeholder="Last name">
                    <p>Password</p>
                    <input type="password" name="" placeholder="Enter Password">
                    <p>Confirm password</p>
                    <input type="password" name="" placeholder="Re-enter Password">
                    <p>Email</p>
                    <input type="email" name="" placeholder="Enter Email">
                    <input type="submit" name="" value="Register">
                    <a href="../login/login.component.html">Already have an account?</a><br>
                </form>
            </div>
        </body>
    </head>
</html>