<div class="border">
  <div class="passwordbox">
    <img src="/assets/images/picture.jpg" class="picture">
    <h1> Registration </h1>
    <p>Name</p>
    <input type="text" name="" [(ngModel)]="account.name" placeholder="Enter Name">
    <p>Email</p>
    <input type="password" name="" [(ngModel)]="account.email" placeholder="Enter Email">
    <p>Password</p>
    <input type="text" name="" [(ngModel)]="account.password" placeholder="Enter Password">
    <p>Are you an Admin?</p>
    <mat-checkbox class="example-margin" [(ngModel)]="account.isAdmin"></mat-checkbox>

    <input type="submit" name="" value="Submit" (click)="registration()">
    <a href="../login/login">Already have an account?</a><br>
  </div>

</div>
