<div class="s-layout">
  <!-- Sidebar -->
  <div class="s-layout__sidebar">
    <a class="s-sidebar__trigger" href="#0">
      <i class="fa fa-bars"></i>
    </a>

    <nav class="s-sidebar__nav">
      <ul style="margin-top: 10vh">
        <li>
          <a class="s-sidebar__nav-link" (click)="goToDashboard()">
            <i class="fa fa-home"></i><em>Dashboard</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" (click)="goToKanbanBoard()">
            <i class="fa fa-user"></i><em>Kanban Board</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" (click)="goToCalendar()">
            <i class="fa fa-camera"></i><em>Calendar</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" (click)="goToRoadmap()">
            <i class="fa fa-camera"></i><em>Roadmap</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" (click)="goToAdmin()">
            <i class="fa fa-camera"></i><em>Admin</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" href="#0" style="margin-top: 32vh">
            <i class="fa fa-camera"></i><em>Log out</em>
          </a>
        </li>
      </ul>
    </nav>
  </div>


</div>
