<nav class="navbar navbar-expand-lg navbar-absolute bg-custom">
  <div class="mr-auto" id="navbar-menu-left-side">
    <ul class="nav navbar-nav action-links">
      <!-- <li class="nav-item">
        <a class="nav-item nav-link nav-right" href="/">{{pageTitle}}</a>
      </li> -->
    </ul>
  </div>

  <div class="navbar-collapse" id="navbarResponsive">
    <ul class="nav-items nav navbar-nav ml-auto my-2 my-lg-0">
      <li class="nav-item sidebar-left">
        <a class="nav-link cursor-pointer" aria-expanded="false" style="width: 90vh;"> <span class="medium"
            style="text-align: left; ">PROJECT
            MANAGEMENT
            SYSTEM</span></a>
      </li>
      <li class="nav-item sidebar-right">

        <a class="nav-link cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="medium">
            {{this.profileDetails.isAdmin}}
            &nbsp; /
          </span>
          &nbsp; <span class="medium">{{this.profileDetails.name}}</span> &nbsp; </a>
        <div class="dropdown-menu dropdown-menu-right animate slideIn">
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
