
<div class="border">
    <div class="resetbox">
        <img src="/assets/images/picture.jpg" class="picture">
        <h1> Reset Password </h1>
            <form>
                <p>Password</p>
                <input type="password" name="" placeholder="Enter password">
                <p>Confirm Password</p>
                <input type="confirm password" name="" placeholder="Re-enter Password">
                <input type="submit" name="" value="Enter">
            </form>
    </div>
</div>


